@model MVCMontadoraPP.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contatodois_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contatodois_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado_Funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastroFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroFuncionario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
