@model IEnumerable<MVCMontadoraPP.Models.Peca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Peca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor_Peca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_peca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Peca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Peca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor_Peca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_peca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Peca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
