@model MVCMontadoraPP.Models.Fornecedor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado_Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastroFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroFornecedor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
