@model IEnumerable<MVCMontadoraPP.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Fornecedors" asp-action="Index">
    <p>
        <b>Title: </b> <input type="text" name="SearchString" method="get">
        <input class="btn btn-dark" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ_Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Fornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ_Fornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_Fornecedor)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
