@model IEnumerable<MVCMontadoraPP.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Estoque</h1>
<br />
<div class="row">
    <div class="col-md-6">
        <h3>
            Produtos em Estoque
        </h3>
    </div>
    <div class="col-md-6">
        <form asp-controller="Compras" asp-action="Index">
            <p>
                <b>Title: </b> <input type="text" name="SearchString" method="get">
                <input class="btn btn-dark" type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peca_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitatio_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal_Compra)
            </th>
            <th class="text-center">
                Opções
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Peca_Compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor_Compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade_Compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitatio_Compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal_Compra)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
