@model MVCMontadoraPP.Models.Venda

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peca_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peca_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnit_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnit_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorFinal_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorFinal_Venda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
