@model MVCMontadoraPP.Models.Venda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peca_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peca_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnit_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnit_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorFinal_Venda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorFinal_Venda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastroVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroVenda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
